body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  color: #2c3e50;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #34495e;
}

ul {
  margin-left: 1.2rem;
  padding-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

a {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
  
}